# =========================================
# OS & Tooling
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Build Output
# =========================================
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================================
# Maven
# =========================================
.mvn/wrapper/maven-wrapper.jar
HELP.md

# =========================================
# IntelliJ IDEA
# =========================================
.idea/
*.iws
*.iml
*.ipr

# =========================================
# Eclipse / Spring Tool Suite (STS)
# =========================================
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# =========================================
# NetBeans
# =========================================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================================
# Visual Studio Code
# =========================================
.vscode/

# =========================================
# Node / NPM
# =========================================
node_modules/
